<div fxLayout="column wrap" class="bgImage baseContainer" fxLayoutAlign="start stretch" [fxShow]="true" fxFill ngClass.xs="baseContainerMobile">
  <div fxLayout="row wrap" class="borderR15 width100 bgWhite" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" class="border-bottom width100" fxFlex="60px" fxLayoutAlign="start stretch" [fxShow]="true">
        <bh-toolaar class="width100"></bh-toolaar>
      </div>
      <div fxLayout="row wrap" class="width100 contentContainer" fxLayoutAlign="center start" [fxShow]="true">
        <div fxLayout="column wrap" fxLayoutGap="1em" fxLayoutAlign="start center" [fxShow]="true">
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
              <p class="selectAllAply">
                Select all that applay</p>
              <h2 class="topTitle">
                How can we help you?</h2>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <mat-horizontal-stepper [selected]="true" [selectedIndex]="position-1" #true="matHorizontalStepper" #stepper>
              <mat-step label="step1">
                <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
                  <div fxLayout="row " fxLayoutAlign="start stretch" [fxShow]="true">
                    <bh-employment_status class="width100"></bh-employment_status>
                  </div>
                </div>
              </mat-step>
              <mat-step label="step2"></mat-step>
              <mat-step label="step3"></mat-step>
            </mat-horizontal-stepper>
          </div>
          <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true"></div>
        </div>
      </div>
      <div fxLayout="row wrap" class="border-top width100" fxFlex="60px" fxLayoutAlign="center center" [fxShow]="true">
        <div fxLayout="column wrap" class="width100" fxLayoutAlign="center center" [fxShow]="true">
          <div fxLayout="row wrap" class="width95" fxLayoutGap="8px" fxLayoutAlign="end center" [fxShow]="true" fxLayoutAlign.xs="center center">
            <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true"><button mat-button class="orange lightOrangeBg footer" ngClass.xs="footerRes">Back</button></div>
            <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true"><button mat-button class="colorWhite orangeBg footer" ngClass.xs="footerRes" (click)="move_to_next()">Next</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>