<div fxLayout="column wrap" fxLayoutGap="2em" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true">
    <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
      <h2 class="topTitle">
        What is your date of birth?</h2>
      <p class="selectAllAply">
        Select all that applay</p>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center center" [fxShow]="true">
    <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
      <mat-select class="orange" placeholder="Select your state" [required]="false">
        <mat-option [value]="&apos;1&apos;" disabled="false">Mpumalanga</mat-option>
        <mat-option [value]="&apos;2&apos;" disabled="false">Limpopo</mat-option>
        <mat-option [value]="&apos;3&apos;" disabled="false">Gouteng</mat-option>
        <mat-option [value]="&apos;4&apos;" disabled="false">North West</mat-option>
        <mat-option [value]="&apos;5&apos;" disabled="false">Free State</mat-option>
        <mat-option [value]="&apos;6&apos;" disabled="false">Northen Cape</mat-option>
        <mat-option [value]="&apos;7&apos;" disabled="false">Cape town</mat-option>
        <mat-option [value]="&apos;8&apos;" disabled="false">Kwazulu Natal</mat-option>
      </mat-select>

    </mat-form-field>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true">
    <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
      <h4 class="bottomTitle">
        Not sure?</h4>
      <p class="needTitle">
        I Need Advise</p>
    </div>
  </div>
</div>