<div fxLayout="column wrap" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true">
    <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
      <h2 class="topTitle">
        How can we help you?</h2>
      <p class="selectAllAply">
        Select all that applay</p>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center center" [fxShow]="true">
    <div fxLayout="column wrap" fxFlex="160px" fxLayoutAlign="center center" [fxShow]="true" *ngFor="let data of select_plan">
      <mat-icon class="bodyIcons">{{data.icon}}</mat-icon><label>
        {{data.paragraph}}</label>
      <mat-checkbox [required]="false"></mat-checkbox>
    </div>
  </div>
</div>