<div fxLayout="column wrap" class="width100" fxLayoutAlign="center center" [fxShow]="true">
  <div fxLayout="row wrap" class="width95" fxLayoutAlign="space-between center" [fxShow]="true">
    <div fxLayout="column wrap" fxFlex="20" fxLayoutAlign="start stretch" [fxShow]="true">
      <mat-icon class="material-icons-outlined" fxShow.xs="false">home</mat-icon>
      <mat-icon fxShow.xs="true" fxShow="false">menu</mat-icon>
    </div>
    <div fxLayout="column wrap" class="orange" fxFlex="20" fxLayoutAlign="start center" [fxShow]="true"><img imgSrc="/Web/images/Property 1=web Logo.png"></div>
    <div fxLayout="column wrap" fxFlex="20" fxLayoutAlign="center end" [fxShow]="true">
      <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="space-between center" [fxShow]="true">
        <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
          <mat-icon>refresh</mat-icon>
        </div>
        <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true" fxShow.xs="false"><button mat-button class="registerBtn orange">Login or Register</button></div>
      </div>
    </div>
  </div>
</div>